<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- winnerspiros/veldrid-spirv fork NuGet package (included in local-packages/).
         Source: https://github.com/winnerspiros/veldrid-spirv/releases -->
    <add key="local-packages" value="local-packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
