<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="sh.ppy.osulazer" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="33" android:targetSdkVersion="36" />
	<application>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="sh.ppy.osulazer.fileprovider" android:grantUriPermissions="true" android:exported="false">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths" />
        </provider>
        <meta-data android:name="com.samsung.android.keepalive.density" android:value="true" />
        <meta-data android:name="com.samsung.android.multidisplay.keep_process_alive" android:value="true" />
        <!-- Register as a game for Samsung Game Launcher / Game Booster.
             This enables vendor-specific optimizations (performance boost, thermal management,
             display refresh rate priority) on Samsung devices automatically. -->
        <meta-data android:name="com.samsung.android.game.biz" android:value="true" />
    </application>
</manifest>